<h1>All Flights</h1>

<ul>
  <% @flights.each do |flight| %>
    <li>
      Departure Airport: <%= flight.departure_airport.code %>
      Arrival Airport: <%= flight.arrival_airport.code %>
      Start Time: <%= flight.start %>
      Duration: <%= flight.duration %> minutes
    </li>
  <% end %>
</ul>
